@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    overflow: hidden;
    background-color: #bac9d2;
    background-image: linear-gradient(0deg, #bac9d2 0%, #61829e 33%, #3a6791 66%);
    height:100vh;background-color: #bac9d2;
    background-image: linear-gradient(0deg, #bac9d2 0%, #61829e 33%, #3a6791 66%);
    height:90vh;
    width: 100%;
}
.bg img{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.switch{
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(35px);
    z-index: 10;
}
.btn-box {
  display:flex;
  vertical-align:middle;
  width: 60px;
  height: 30px;
  border-radius:100px;
  background-color: #ccc;
  box-shadow: 0px 3px 0px rgba(0,0,0,.13) inset;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  font-family: 'Inconsolata', monospace;
}
.btn-box .btn {
display:inline-block;
  width: 30px;
  height:30px;
  border-radius:50%;
  background-color: #fff;
  margin-left: -10px;/*動畫從ml為0開始*/
  transition: .5s;
  box-shadow:1px 2px 5px rgba(0,0,0,.3);
  position: absolute;
}
.off_text, .on_text{align-self: center;}

.checkbox {
  position:absolute;
}
.checkbox:checked + .btn-box {
  background-color: #8f8;
}

.checkbox:checked + .btn-box .btn {
  margin-left: 40px;
}

.checkbox:checked + .btn-box .on_text {
  margin-left: 20px;
  visibility: hidden;
}
.checkbox:not(:checked) + .btn-box .off_text {
  visibility: hidden;
}
.contaner{
  display:flex;
}
.headline{
    margin:0 auto;
    position: relative;
    top:20px;
}
.headline-text{
color: white;
font-size:11vw;
  letter-spacing:10px;
  font-family: 'Fugaz One', cursive;
  animation-name:ooxx;
  animation-duration:0s;
  animation-iteration-count: infinite;
  text-align: center;
}
.straight{
    display: none;
}
.snow{
     height:100vh;
      width:100%;
      /*z-index defult value=1*/
      z-index:0;
      /*upgrade gpu rendering*/
      transform:translateZ(0);
     position:fixed;
     top:-60px;
     display:none;
     z-index:9;
    }
    
    .snow li{
      position:absolute;
      list-style:none;
      display:block;
      /*make bubble on page bottom*/
      border-radius:100%;
      -webkit-animation:snow-ani  12s;
        -o-animation:snow-ani  12s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        vertical-align: -webkit-baseline-middle;
    }
    
    
    /* glow of the bubbles*/
    
    
    .snow li:nth-child(1){
      width:20px;
      height:20px;
      left:10%;
      animation-duration:8s;
      background-color: white;
    }
    
    .snow li:nth-child(2){
      width:5px;
      height:5px;
      left:30%;
      animation-duration:11s;
      background-color: white;
    }
    
    .snow li:nth-child(3){
      width:15px;
      height:15px;
      left:70%;
      animation-duration:10s;
      background-color: white;
    }
    
    .snow li:nth-child(4){
      width:10px;
      height:10px;
      left:60%;
      animation-duration:8s;
      background-color: white;
    }
    .snow li:nth-child(5){
      width:20px;
      height:20px;
      left:90%;
      animation-duration:9s;
      background-color: white;
    }
    
    .snow li:nth-child(6){
      width:5px;
      height:5px;
      left:87%;
      animation-duration:10s;
      background-color: white;
    }
    
    .snow li:nth-child(7){
      width:15px;
      height:15px;
      left:56%;
      animation-duration:13s;
      background-color: white;
    }
    
    .snow li:nth-child(8){
      width:10px;
      height:10px;
      left:42%;
      animation-duration:12s;
      background-color: white;
    }
    
    .snow li:nth-child(9){
      width:20px;
      height:20px;
      left:83%;
      animation-duration:8s;
      background-color: white;
    }
    
    .snow li:nth-child(10){
      width:5px;
      height:5px;
      left:5%;
      animation-duration:10s;
      background-color: white;
      
    }
    
    .snow li:nth-child(11){
      width:15px;
      height:15px;
      left:18%;
      animation-duration:11s;
      background-color: white;
    }
    
    .snow li:nth-child(12){
      width:10px;
      height:10px;
      left:24%;
      animation-duration:12s;
      animation-delay:3s;
      background-color: white;
    }
    
    .snow li:nth-child(13){
      width:20px;
      height:20px;
      left:2%;
      animation-duration:8s;
      animation-delay:9s;
      background-color: white;
    }
    
    .snow li:nth-child(14){
      width:5px;
      height:5px;
      left:39%;
      animation-duration:15s;
      animation-delay:4s;
      background-color: white;
    }
    
    .snow li:nth-child(15){
      width:15px;
      height:15px;
      left:85%;
      animation-duration:15s;
      animation-delay:6.5s;
      background-color: white;
    }
    
    .snow li:nth-child(16){
      width:10px;
      height:10px;
      left:58%;
      animation-duration:13s;
      animation-delay:6s;
      background-color: white;
    }
    .snow li:nth-child(17){
      width:20px;
      height:20px;
      left:90%;
      animation-duration:8s;
      animation-delay:5.7s;
      background-color: white;
    }
    
    .snow li:nth-child(18){
      width:5px;
      height:5px;
      left:17%;
      animation-duration:10s;
      animation-delay:6s;
      background-color: white;
    }
    
    .snow li:nth-child(19){
      width:15px;
      height:15px;
      left:64%;
      animation-duration:8s;
      animation-delay:2s;
      background-color: white;
    }
    
    .snow li:nth-child(20){
      width:10px;
      height:10px;
      left:23%;
      animation-duration:11s;
      animation-delay:3.5s;
      background-color: white;
    }
    
    .snow li:nth-child(21){
      width:20px;
      height:20px;
      left:83%;
      animation-duration:9s;
      animation-delay:3s;
      background-color: white;
    }
    
    .snow li:nth-child(22){
      width:5px;
      height:5px;
      left:16%;
      animation-duration:10s;
      animation-delay:5s;
      background-color: white;
    }
    
    .snow li:nth-child(23){
      width:15px;
      height:15px;
      left:2%;
      animation-duration:12s;
      animation-delay:2s;
      background-color: white;
    }
    
    .snow li:nth-child(24){
      width:10px;
      height:10px;
      left:86%;
      animation-duration:8s;
      animation-delay:3.5s;
      background-color: white;
    }
    .tree{
        position: absolute;
    right: 0;
    bottom: 0;
    max-width: 200px;
    }
    .tree img{
        width:100%;
    }
    .light {
      height: 60px;
      width: 60px;
      background-color: #fbc02d;
  animation-name:Blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
  position: absolute;
  z-index: 4;
  top:-40px;
  left: 40%;
  -webkit-animation-play-state: paused; 
  animation-play-state: paused;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
    .man{
      max-width: 400px;
    position: absolute;
    bottom: 0;
    left: 30px;
      }
      .man img{
      width: 100%;
      }
    @media screen and (orientation: portrait)  {
    .straight-body{
    background-color: black;
    width:100vw;
    height:100vh;
    position: absolute;
    top:0;
    z-index: 11;
    display: flex;
}
.straight{
    display: flex;
    margin: auto;
    z-index: 12;
    position: relative;
    flex-direction: column;
}
.straight img{
  width: 80px;
  height: 80px;
margin:auto;
}
.straight p{
  font-size: 8px;
  color:white;
  width: 100%;
}
  }
@keyframes ooxx{
    from{
        text-shadow: 7px 5px 0px #4eb243, -7px -5px 0 #d43a77;
    }
    to{
        text-shadow: none;
    }
}
@keyframes phone{
    from{
        transform:rotate(0);
    }
    to{
        transform:rotate(-90deg);
    }
}
@keyframes snow-ani {
    0%{
      transform:translateY(-10vh);
    }
    100%{
    transform:translateY(100vh);
    }
  }
  @-webkit-keyframes Blink {
    from{
        filter: brightness(100%);
    }
  to{
    filter: brightness(130%);
  }
  }
  @-moz-keyframes Blink {
    from{
      filter: brightness(100%);
  }
to{
  filter: brightness(130%);
}
}
  @keyframes Blink {
    from{
      filter: brightness(100%);
  }
to{
  filter: brightness(130%);
}
}

